.button {
    font-size: $small-font;
    text-decoration: none;
    &--white {
        border: 2px solid $primary-color;
        color: $primary-color;
        @include button;
        &:hover {
            @include hover;
        }
    }
    &--black {
        border: 2px solid #000;
        color: #000;
        @include button;
        &:hover {
            @include hover;
        }
    }
}

@media screen and (max-width: 1024px) {
    .button {
        font-size: 1.0625rem;
        &--white {
            height: 48px;
            width: 248px;
        }
        &--black {
            height: 48px;
            width: 248px;
        }
    }
}