.logo {
    font-size: 3.125rem;
    text-decoration: none;
    color: $primary-color;
    text-transform: uppercase;
    &:hover {
        color: #ffac1c;
        transition: all .8s;
        letter-spacing: 5px;
    }
}

@media screen and (max-width: 1024px) {
    .logo {
        font-size: 2.1875rem;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        font-size: 2.1875rem;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        font-size: 1.875rem;
    }
}